@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15.57px;
  color: #262f32;
  line-height: 1.798;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  position: relative;
  z-index: -3;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1366px;
  background-color: #f3f3f3;
  z-index: -10;
}

.heading {
  font-size: 45px;
  line-height: 1;
  margin: 0;
  margin-bottom: 34px;

  &_light {
    font-weight: 300;
  }
}

.section-text {
  margin-bottom: 50px;
}

.button {
  border-radius: 11px;
  border: 1px solid;
  width: 214px;
  height: 54px;
  font-size: 16.57px;
  transition: background-color .3s ease-in-out;

  &__dark {
    border-color: #262f32;
    color: #262f32;

    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__light {
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

.font {
  &__light {
    font-weight: 300;
  }
  &__bold {
    font-weight: 700;
  }
}

.header {
  width: 100%;
  height: 715px;
  display: flex;

  .header_img {
    width: 908px;
    background: no-repeat center url('../../assets/img/header.jpg');
    background-size: cover;
  }

  .header_description {
    width: 458px;
    padding: 55px 50px 55px 55px;

    &_burger {
      width: 33px;
      height: 29px;
      background: no-repeat url('../../assets/img/burger.svg');
      cursor: pointer;
    }

    &_heading {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.444;
      margin-top: 75px;
      margin-bottom: 60px;

      &_text {
        margin: 0;
      }
    }

    &_text {
      font-size: 18px;
      line-height: 1.556;
    }
  }
}

.main {
  display: grid;
  width: 100%;
  grid-template-areas: "aside best-starting"
                       "aside verified-dummy";
  grid-template-columns: 614px 752px;
  grid-template-rows: 1fr 1fr;

  &_aside {
    grid-area: aside;
    background: no-repeat center url('../../assets/img/aside.jpg');
    background-size: cover;
    color: #fff;

    &_article {
      margin: 70px 90px 70px 60px;
    }
  }

  &_best-starting {
    padding: 70px 145px 60px 55px;
    grid-area: best-starting;
    background: no-repeat center url('../../assets/img/best-starting.jpg');
    background-size: cover;
  }

  &_verified-dummy {
    padding: 70px 145px 60px 55px;
    color: #fff;
    grid-area: verified-dummy;
    background: no-repeat center url('../../assets/img/verified-dummy.jpg');
    background-size: cover;
  }
}

.footer {
  display: flex;
  color: #fff;
  height: 715px;
  font-size: 16.57px;

  &_designed-by {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 458px;
    background: no-repeat center url('../../assets/img/designed-by.jpg');
    background-size: cover;
    padding: 60px 65px 70px 55px;

    &_heading {
      line-height: 1.467;
    }
  }

  &_say-hello {
    position: relative;
    width: 908px;
    padding: 60px 65px 70px 55px;

    &_heading {
      margin-bottom: 40px;
      line-height: 1.467;
    }

    &::before {
      content: '';
      position: absolute;
      background-color: rgba(90, 102, 95, .5);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      background: no-repeat center url('../../assets/img/say-hello.jpg');
      background-size: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -2;
    }

    &_social-icons {
      display: flex;
      gap: 7px;
      margin: 15px 0 37px;

      &_item {
        width: 45px;
        height: 45px;
        border-radius: 7px;
        background: no-repeat center;
        transition: background-color .3s ease-in-out;
      }
    }
  }
}

.ali {
  margin-left: 15px;

  &_logo {
    width: 90px;
    height: 90px;
    background: no-repeat center url('../../assets/img/logo.png');
  }

  &_heading {
    margin: 34px 0 17px;
  }
}

.form {
  display: grid;
  grid-template-areas: "name email"
                       "text text";
  gap: 10px;
  max-width: 621px;
  margin-bottom: 90px;

  &_input {
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 13px; 
    height: 59px;
    padding: 1.5rem;
    font-size: 16.57px;
    color: #fff;

    &:hover, &:focus {
      &::placeholder {
        color: rgba(255, 255, 255, .2);
      }
    }

    &::placeholder {
      color: #fff;
      transition: color .3s ease-in-out;
    }

    &_name {
      grid-area: name;
    }

    &_email {
      grid-area: email;
    }

    &_text {
      grid-area: text;
      height: 163px;
    }
  }
}

.fb-icon {
  background-color: #345bb4;
  background-image: url('../../assets/img/facebook.png');

  &:hover {
    background-color: #1a2f5f;
  }
}

.dribble-icon {
  background-color: #e64895;
  background-image: url('../../assets/img/dribble.png');

  &:hover {
    background-color: #7e2650;
  }
}

.twitter-icon {
  background-color: #00b4ff;
  background-image: url('../../assets/img/twitter.png');

  &:hover {
    background-color: #00587e;
  }
}