@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #262f32;
  line-height: 1.798;
  font-size: 15.57px;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.heading {
  font-size: 45px;
  line-height: 1;
  margin: 0;
  margin-bottom: 34px;

  &_light {
    font-weight: 300;
  }
}

.section-text {
  margin-bottom: 50px;
}

.button {
  border-radius: 11px;
  border: 1px solid;
  width: 214px;
  height: 54px;
  font-size: 16.57px;
  transition: background-color .3s ease-in-out;

  &__dark {
    border-color: #262f32;
    color: #262f32;

    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__light {
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

.Rounded_Rectangle_1 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(38, 47, 50);
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 666px;
  top: 1018px;
  width: 214px;
  height: 54px;
  z-index: 23;
}


.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1366px;
  background-color: #f3f3f3;

  .header {
    width: 100%;
    height: 715px;
    display: flex;

    .header_img {
      width: 908px;
      background: no-repeat center url('../../assets/img/header.jpg');
    }

    .header_description {
      width: 458px;
      padding: 55px 50px 55px 55px;

      &_burger {
        width: 33px;
        height: 29px;
        background: no-repeat url('../../assets/img/burger.svg');
        cursor: pointer;
      }

      &_heading {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.444;
        margin-top: 75px;
        margin-bottom: 60px;

        &_text {
          margin: 0;
        }
      }

      &_text {
        font-size: 18px;
        line-height: 1.556;
      }
    }
  }
}

.font {
  &__light {
    font-weight: 300;
  }
  &__bold {
    font-weight: 700;
  }
}

.main {
  display: grid;
  width: 100%;
  grid-template-areas: "aside best-starting"
                       "aside verified-dummy";
  grid-template-columns: 614px 752px;
  grid-template-rows: 1fr 1fr;

  &_aside {
    grid-area: aside;
    background: no-repeat center url('../../assets/img/aside.jpg');
    color: #fff;

    &_article {
      margin: 70px 90px 70px 60px;
    }
  }

  &_best-starting {
    padding: 70px 145px 60px 55px;
    grid-area: best-starting;
    background: no-repeat center url('../../assets/img/best-starting.jpg');
  }

  &_verified-dummy {
    padding: 70px 145px 60px 55px;
    color: #fff;
    grid-area: verified-dummy;
    background: no-repeat center url('../../assets/img/verified-dummy.jpg');
  }
}