@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #262f32;
  font-size: 15.57px;
}

.wrapper {
  margin: 0 auto;
  width: 1366px;
  background-color: #f3f3f3;

  .header {
    width: 100%;
    height: 715px;
    display: flex;

    .header_img {
      width: 908px;
      background: no-repeat url('../../assets/img/header.jpg');
    }

    .header_description {
      width: 458px;
      padding: 55px 50px 55px 55px;

      &_burger {
        width: 33px;
        height: 29px;
        background: no-repeat url('../../assets/img/burger.svg');
        cursor: pointer;
      }

      &_heading {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.444;
        margin-top: 75px;
        margin-bottom: 60px;

        &_text {
          margin: 0;
        }
      }

      &_text {
        font-size: 18px;
        line-height: 1.556;
      }
    }
  }
}

.font {
  &__light {
    font-weight: 300;
  }
  &__bold {
    font-weight: 700;
  }
}